table.book {
    border: 1px solid black;
    border-collapse: collapse;
}

th.book {
    border: 1px solid black;
}

td.book {
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
}