table.book {
    border: 1px solid #979797;
    border-collapse: collapse;
    width: 70%;
    font-family: "Arial", Times, serif;
}

th.book {
    border-bottom: 1px solid #979797;
    height: 25px;
    padding: 15px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

td.book {
    border-bottom: 1px solid #979797;
    text-align: left;
    vertical-align: bottom;
    padding: 15px;
}

td.action {
    width: 1px;
    white-space: nowrap;
    border-bottom: 1px solid #979797;
    text-align: left;
    vertical-align: bottom;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

a:link.book, a:visited.book {
    background-color: #4CAF50;
    color: white;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial", Times, serif;
}

a:hover.book, a:active.book {
    background-color: green;
}

a:link.index, a:visited.index {
    color: #3a3a3a;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 20px;
    font-family: "Arial", Times, serif;
}

a:hover.index, a:active.index {
    color: #000000;
    font-weight: bold;
}

h2.book {
    color: #4CAF50;
    font-family: "Arial", Times, serif;
    font-size: 35px;
}

.content {
    padding-left: 15px;
    padding-top: 1px;
}

.info {
    font-family: "Arial", Times, serif;
}

.error {
    font-family: "Arial", Times, serif;
    color: indianred;
}

input[type=text].bookInput {
    width: 70%;
    padding: 9px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #3a3a3a;
    font-family: "Arial", Times, serif;
}

select.bookInput {
    width: 70%;
    padding: 9px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #3a3a3a;
    font-family: "Arial", Times, serif;
}

input[type=text]:focus.bookInput {
    border: 1px solid dodgerblue;
}

input[type=submit].book {
    background-color: #4CAF50;
    color: white;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    font-family: "Arial", Times, serif;
    font-size: 16px;
}

input[type=submit]:focus.book {
    background-color: green;
}

a:link.small, a:visited.small {
    color: #3a3a3a;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-family: "Arial", Times, serif;
    font-weight: bold;
}

a:hover.small, a:active.small {
    color: #000000;
}

ul.index li{
    margin: 10px;
}