.treeview ul {
    margin: 0;
    padding: 0;
}

.treeview li {
    list-style-type: none;
    margin-bottom: 3px;
    padding-left: 22px;
}

.treeCaptionRoot {
    font-size: medium;
    font-weight: bold;
}

.withoutSpace {
    margin: 0;
    padding: 0;
}

.treeview li.submenu {
}

.treeview li.submenu ul {
    display: none;
}

.treeview .submenu ul li {
    cursor: default;
}

.treeview .closed {
    color: #428BCA;
}

.countItems {
    color: #FFB147;
    margin-left: 7px;
}

.underline {
    text-decoration: underline;
}

.underline .countItems {
    color: #FFB147;
    text-decoration: underline;
}

.treeview .open {
    color: #222222;
    text-decoration: none;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}