.treeview ul {
    margin: 0;
    padding: 0;
}

.treeview li {
    list-style-type: none;
    margin-bottom: 3px;
    padding-left: 22px;
}

.treeCaptionRoot {
    font-size: medium;
    font-weight: bold;
}

.withoutSpace {
    margin: 0;
    padding: 0;
}

.treeview li.submenu {
}

.treeview li.submenu ul {
    display: none;
}

.treeview .submenu ul li {
    cursor: default;
}

.treeview .closed {
}

.treeview .open {
}